 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');

 .logo {
    font-family:$logo-font-family;
 }

 .title{
    font-family: $title-font-family;
 }

 .heading{
    font-family: $heading-font-family;
}

p{
    font-family: $body-font-family;
}

 