
@use "../utils/variables" as *;

 .logo {
    font-family:$logo-font-family;
 }

 .title{
    font-family: $title-font-family;
 }

 .heading{
    font-family: $heading-font-family;
}

h1{
   font-family: $heading-font-family;
}

h2{
   font-family: $heading-font-family;
}

h3{
   font-family: $heading-font-family;
}

p{
    font-family: $body-font-family;
}

button {
   font-family: $body-font-family;
}

 