@use "../utils/variables" as *;
// @use "../utils" as *;

@mixin container-flex-base() {
  display: flex;
  justify-content: center;
}

@mixin container-grid-base() {
  display: grid;
  justify-items: center;
}

@mixin button-base() {
  text-decoration: none;
  padding: $padding;
  border-radius: 25px;
  border-style: none;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  font-family: $body-font-family;
  background-color: $background;
}

@mixin button-gradient-purple() {
  background: linear-gradient(165deg,#ff79da, #9356dc);
  color: white;
  padding: $padding * 1.5 $paddingx2;
}

@mixin roboto-500() {
  font-family: $body-font-family;
  font-weight: 500;
}
