//Colours
$primary:#9356DC;
$secondary:#FF79DA;
$Tertiary:#99E2D0;


//Fonts
$title-font-family:'Shrikhand', cursive;
$logo-font-family:'Shrikhand', cursive;
$heading-font-family:'Roboto', sans-serif;
$body-font-family:'Roboto', sans-serif;