@use "../utils/" as *;

.container-content {
  background-color: $background;
  padding: $paddingx2 $paddingx2 $paddingx2 * 3 $paddingx2;
}

.container-cards {
  @include container-grid-base();
  gap: $gapx2;

  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.restaurant-card {
  width: 100%;
  border-radius: 25px;
  background-color: white;
  position: relative;

  &__img {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  &__new {
    position: absolute;
    top: 0rem;
    right: 1rem;
    border-radius: 3px;
    background-color: $tertiary;
    padding: $padding $paddingx2 * 2;
    color: darken($color: $tertiary, $amount: 40);
    font-weight: 700;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 0 $padding;
    padding-bottom: $padding;

    &__text {
      line-height: $line-height;
      grid-column: 1/4;
      grid-row: 1/3;
    }
  }

  &__favourite {
    font-size: $heart-size;
    padding: 0 $padding;
    position: relative;
    grid-column: 3/3;
    grid-row: 1/3;
    justify-self: flex-end;
    align-self: center;
  }

  &__favourite::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f004";
    background-image: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    left: 10px;
    bottom: 1px;
    transform: scale(0, 0);
    transition: transform ease-in-out 1000ms;
  }

  &__favourite:hover::after {
    transform: scale(1, 1);
  }
}

.container-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-heading {
    font-family: $title-font-family;
    font-weight: $font-weight-normal;
    font-size: $title-font-size;
  }

  &-icon {
    font-size: $heart-size;
    align-self: center;
    padding: 0 $padding;
  }
}

.container-content--border {
  border-radius: 25px 25px 0px 0px;
}

.container-menu {
  display: grid;
  gap: $gapx3;

  &-item-layout {
    display: grid;
    gap: $gapx2;
  }

  &-heading {
    font-weight: $font-weight-light;
    position: relative;
    font-size: $subheading-font-size;
    padding-bottom: $padding;
  }

  &-heading::after {
    content: "";
    border-bottom: solid;
    border-color: $tertiary;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 3rem;
  }

  &-button {
    @include button-base();
    background-color: lighten($color: $background, $amount: 0.5);
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    padding: 0 $padding;

    &:hover .container-menu-check {
      opacity: 1;
      width: 80px;
    }

    &:hover .fa-circle-check {
      animation: check-rotate 500ms linear 1;
      opacity: 1;
      @keyframes check-rotate {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &-dish {
    text-align: left;
    & p {
      white-space: nowrap;
      width: 280px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-price {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
  }

  &-check {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 25px 25px 0px;
    background-color: $tertiary;
    height: 94px;
    width: 10px;
    position: relative;
    left: 10px;
    transform-origin: right;
    transition: width 500ms ease-in-out;
    opacity: 0;
  }
}

.fa-circle-check {
  color: white;
  font-size: $check-size;
  opacity: 0;
}

.menu-order-button {
  @include button-base();
  @include button-gradient-purple();
  width: 10rem;
  z-index: 1;
  position: relative;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    @include button-base();
    @include button-gradient-purple();
    @include button-gradient-purple-hover-effect();
  }
}

.menu-order-button-layout {
  @include container-grid-base();
  padding: $paddingx2 0 0 0;
}

.fade-scale {
  animation: menuload 1500ms ease-in-out 1;
  animation-delay: 250ms;

  &--delay-1 {
    animation-delay: 500ms;
  }
  &--delay-2 {
    animation-delay: 750ms;
  }
  &--delay-3 {
    animation-delay: 1000ms;
  }
  &--delay-4 {
    animation-delay: 1250ms;
  }
}

@keyframes menuload {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
