@use "../utils/" as *;

.container-content {
  background-color: $background;
  padding: $paddingx2 $paddingx2 $paddingx2 * 3 $paddingx2;
}

.container-cards {
  @include container-grid-base();
  gap: $gapx2;
}

.restaurant-card {
  width: 100%;
  border-radius: 25px;
  background-color: white;
  position: relative;

  &__img {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  &__new {
    position: absolute;
    top: 0rem;
    right: 1rem;
    border-radius: 3px;
    background-color: $tertiary;
    padding: $padding $paddingx2 * 2;
    color: darken($color: $tertiary, $amount: 40);
    font-weight: 700;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $padding;
    padding-bottom: $padding;

    &__text {
      line-height: $line-height;
    }
  }

  &__favourite {
    font-size: $heart-size;
    align-self: center;
    padding: 0 $padding;
    position: relative;
  }

  &__favourite::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f004";
    background-image: linear-gradient(180deg, #9356dc,#ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    left: 10px;
    bottom: 1px;
    transform: scale(0, 0);
    transition: transform ease-in-out 1000ms;
  
  }

  &__favourite:hover::after{
    transform: scale(1, 1);
  }
}

.container-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-heading {
    font-family: $title-font-family;
    font-weight: $font-weight-normal;
    font-size: $title-font-size;
  }

  &-icon {
    font-size: $heart-size;
    align-self: center;
    padding: 0 $padding;
  }
}

.container-content--border {
  border-radius: 25px 25px 0px 0px;
}

.container-menu {
  display: grid;
  gap: $gapx3;

  &-item-layout {
    display: grid;
    gap: $gapx2;
  }

  &-heading {
    font-weight: $font-weight-light;
    position: relative;
    font-size: $subheading-font-size;
    padding-bottom: $padding;
  }

  &-heading::after {
    content: "";
    border-bottom: solid;
    border-color: $tertiary;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 3rem;
  }

  &-button {
    @include button-base();
    background-color: lighten($color: $background, $amount: 0.5);
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    padding: 0 $padding;
  }

  &-dish {
    text-align: left;
  }

  &-price {
    display: flex;
    align-self: flex-end;
    align-items: center;
    font-weight: bold;
  }
}

.menu-order-button {
  @include button-base();
  @include button-gradient-purple();
  width: 10rem;
}

.menu-order-button-layout {
  @include container-grid-base();
  padding: $paddingx2 0 0 0;
}
