@use "../utils/" as *;

//-----content styling on home page------
.container-content {
  background-color: $background;
  padding: $paddingx2 $paddingx2 $paddingx2 * 3 $paddingx2;
}

.content-heading {
  @media (min-width: 769px) {
    text-align: center;
  }
}

//-----restaurant cards styling on home page------
.container-cards {
  @include container-grid-base();
  gap: $gapx2;

  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.restaurant-card {
  width: 100%;
  border-radius: 25px;
  background-color: white;
  position: relative;

  &__img {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }

  //----- new banner  styling on restaurant cards on home page------
  &__new {
    position: absolute;
    top: 0rem;
    right: 1rem;
    border-radius: 3px;
    background-color: $tertiary;
    padding: $padding $paddingx2 * 2;
    color: darken($color: $tertiary, $amount: 40);
    font-weight: 700;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 $padding;
    padding-bottom: $padding;

    &__text {
      line-height: $line-height;
      grid-column: 1/4;
      grid-row: 1/3;
    }
  }

  //-----restaurant cards heart icon styling on home page------
  &__favourite {
    font-size: $heart-size;
    padding: 0 $padding;
    position: relative;
    grid-column: 3/3;
    grid-row: 1/3;
    justify-self: flex-end;
    align-self: center;
  }

  //-----restaurant cards heart icon after styling on home page------
  &__favourite::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f004";
    background-image: linear-gradient(180deg, #9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    left: 10px;
    bottom: 1px;
    transform: scale(0, 0);
    transition: transform ease-in-out 1000ms;
  }

  //-----restaurant cards heart after icon will be visible on hover on home page------
  &__favourite:hover::after {
    transform: scale(1, 1);
  }
}

//-----Menu styling on restaurant pages------
.container-restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-heading {
    font-family: $title-font-family;
    font-weight: $font-weight-normal;
    font-size: $title-font-size;
  }

  &-icon {
    font-size: $heart-size;
    align-self: center;
    padding: 0 $padding;
  }
}

.container-content--border {
  border-radius: 25px 25px 0px 0px;
}

.container-menu {
  display: grid;
  gap: $gapx3;

  @media (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &-item-layout {
    display: grid;
    gap: $gapx2;

    @media (min-width: 769px) and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-heading {
    font-weight: $font-weight-light;
    position: relative;
    font-size: $subheading-font-size;
    padding-bottom: $padding;
  }

  //-----Green underline on menu headings on restaurant pages------
  &-heading::after {
    content: "";
    border-bottom: solid;
    border-color: $tertiary;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 3rem;
  }

  //-----Menu item styling on restaurant pages------
  &-button {
    @include button-base();
    background-color: lighten($color: $background, $amount: 0.5);
    box-shadow: 0px 2px 3px 1px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    padding: 0 $padding;
    min-width: 20rem;

    //-----Green box right to left animation on hovering menu items on restaurant pages------
    &:hover .container-menu-check {
      opacity: 1;
      animation: right-to-left 500ms linear 1;
      width: 80px;
      @keyframes right-to-left {
        0% {
          width: 0px;
        }

        25% {
          width: 40px;
        }

        100% {
          width: 80px;
        }
      }
    }

      //-----Check icon rotate animation inside the green box on hovering menu items on restaurant pages------
    &:hover .fa-circle-check {
      animation: check-rotate 500ms ease-in-out 1;
      opacity: 1;
      @keyframes check-rotate {
        0% {
          transform: translateX(10px) rotate(90deg);
        }

        25% {
          transform: translateX(10px) rotate(90deg);
        }

        100% {
          transform: translateX(0px) rotate(360deg);
        }
      }
    }
  }

  &-dish {
    text-align: left;
    min-width: 0;
    & h3 {
      @include text-overflow();
    }

    & p {
      @include text-overflow();
    }
  }

  &-price {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
  }

    //-----Green box styling on menu items on restaurant pages------
  &-check {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 25px 25px 0px;
    background-color: $tertiary;
    height: 94px;
    width: 10px;
    position: relative;
    left: 10px;
    transform-origin: right;
    transition: width 500ms ease-in-out;
    opacity: 0;
    overflow: hidden;
  }
}

 //-----check icon styling on menu items on restaurant pages------
.fa-circle-check {
  color: white;
  font-size: $check-size;
  opacity: 0;
}

 //-----order button styling on restaurant pages------
.menu-order-button {
  @include button-base();
  @include button-gradient-purple();
  width: 10rem;
  @include top-layer();

  //-----order button after will be visible on hover on restaurant pages------
  &:hover {
    &::after {
      opacity: 1;
    }
  }

  //-----order button after styling on restaurant pages------
  &::after {
    @include button-base();
    @include button-gradient-purple();
    @include button-gradient-purple-hover-effect();
  }
}

.menu-order-button-layout {
  @include container-grid-base();
  padding: $paddingx2 0 0 0;

  @media (min-width: 1025px) {
    grid-column: 2/2;
  }
}

//-----menu fade in animation when going on restaurant pages------
.fade-scale {
  animation: menuload 1500ms ease-in-out 1;
  animation-delay: 250ms;

  &--delay-1 {
    animation-delay: 500ms;
  }
  &--delay-2 {
    animation-delay: 750ms;
  }
  &--delay-3 {
    animation-delay: 1000ms;
  }
  &--delay-4 {
    animation-delay: 1250ms;
  }
}

//-----menu move up animation when going on restaurant pages------
@keyframes menuload {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
