@use "../utils/" as *;

// base layout classes

.container-header {
  grid-area: header;

  &--fade-in {
    @include fade-animation();
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container-content {
  grid-area: content;

  &--fade-in {
    @include fade-animation();
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container-footer {
  grid-area: footer;

  &--fade-in {
    @include fade-animation();
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-areas:
    "header header header"
    "header header header"
    "header header header"
    "header header header"
    "content content content"
    "content content content"
    "content content content"
    "content content content"
    "footer footer footer";
}

.menu-overlap-image {
  display: grid;
  grid-row-start: 4;
  grid-row-end: 9;
  margin-top: 1.7rem;
}
