@use "../utils/" as *;


.container-logo {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: $paddingx2;

  &__icon {
    font-size: $arrow-size;
    display: flex;
    align-self: center;
  }

  &__img {
    width: $logo-img-size;
    grid-column: 2/3;
    justify-self: center;
  }
}

.container-header__img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;

  @media (min-width: 481px){
    aspect-ratio: 16/9;
      }

  @media (min-width: 769px){
aspect-ratio: 21/9;
  }

  @media (min-width: 1025px){
    aspect-ratio: 30/9;
      }

}

.container-location {
  @include container-flex-base();
  box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, 0.3);

  &__title {
    @include roboto-500();
    align-self: center;
    padding: 0px $paddingx2;
  }

  &__icon {
    align-self: center;
  }
}

.bg-colour {
  background-color: darken($color: $background, $amount: 2);
}

.container-intro {
  @include container-grid-base();
  background-color: $background;
  padding: $paddingx2;
  padding-bottom: $paddingx2 * 2;

  &__title {
    font-size: calc($heading-font-size / 1.25);
  }

  &__text {
    font-weight: 300;
    padding: 0 $padding * 1.7 $paddingx2 $padding * 1.7;
    text-align: center;
  }

  &__button {
    @include button-base();
    @include button-gradient-purple();
    z-index: 1;
    position: relative;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      @include button-base();
      @include button-gradient-purple();
      @include button-gradient-purple-hover-effect();
    }
  }
}

.container-steps {
  padding: 0 $paddingx2 $paddingx2 * 2 $paddingx2;

  &__title {
    padding: $padding 0;

    @media (min-width: 481px) {
      display: flex;
      justify-content: center;
    }
  }

  .container-buttons {
    display: grid;
    gap: $gapx2 * 1.2;
    padding-left: $padding;

    @media (min-width: 481px){
      justify-items: center;
    }
    @media (min-width: 1025px){
     grid-template-columns: repeat(3,1fr);
    }
  }

  &__button {
    @include button-base();
    width: 20rem;
    padding: $paddingx2;
    display: flex;
    align-items: center;
    font-weight: 700;
    @include top-layer();

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      @include button-base();
      @include button-hover-effect();
      background-color: lighten($color: $primary, $amount: 30);
    }

    &__number {
      @include container-flex-base();
      flex-wrap: wrap;
      align-content: center;
      position: relative;
      right: 30px;
      height: 2px;
      width: 2px;
      padding: 12px;
      background-color: $primary;
      border-radius: 25px;
      color: white;
    }

    &__icon {
      color: darken($color: $background, $amount: 30);
      padding-right: $paddingx2;
    }

    &__icon--mobile {
      @include top-layer();

      &::after {
        @include icon-hover-effect();
        content: "\f3cd";
      }
    }

    &__icon--list {
      @include top-layer();

      &::after {
        @include icon-hover-effect();
        content: "\f03a";
      }
    }

    &__icon--store {
      @include top-layer();
      &::after {
        @include icon-hover-effect();
        content: "\f54e";
      }
    }

    &:hover &__icon {
      &::after {
        opacity: 1;
      }
    }
  }
}

