@use "../utils/" as *;
@use "../components/button" as *;

.container-logo {
  @include container-flex-base();
  padding: $paddingx2;

  &__icon {
    font-size: $arrow-size;
    display: flex;
    align-self: center;
  }

  &__img {
    width: $logo-img-size;
  }
}

.container-logo--justify{
  justify-content: normal;
}

.container-logo--gap{
  gap: $gap-icon-logo
}

.container-header__img{
    width: 100%;
}

.container-location {
  @include container-flex-base();
  box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, 0.3);

  &__title {
    @include roboto-500();
    align-self: center;
    padding: 0px $paddingx2;
  }

  &__icon {
    align-self: center;
  }
}

.bg-colour {
  background-color: darken($color: $background, $amount: 2);
}

.container-intro {
  @include container-grid-base();
  background-color: $background;
  padding: $paddingx2;
  padding-bottom: $paddingx2 * 2;

  &__title {
    font-size: calc($heading-font-size / 1.25);
  }

  &__text {
    font-weight: 300;
    padding: 0 $padding*1.7 $paddingx2 $padding*1.7;
    text-align: center;
  }

  &__button {
    @include button-base();
    @include button-gradient-purple();
  }
}

.container-steps {
  padding: 0 $paddingx2 $paddingx2 * 2 $paddingx2;

  &__title {
    padding: $padding 0;
  }

  .container-buttons {
    display: grid;
    grid-auto-rows: auto;
    gap: $gapx2 * 1.2;
    padding-left: $padding;
  }

  &__button {
    @include button-base();
    padding: $paddingx2;
    display: flex;
    align-items: center;
    font-weight: 700;

    &__number {
      @include container-flex-base();
      flex-wrap: wrap;
      align-content: center;
      position: relative;
      right: 30px;
      height: 2px;
      width: 2px;
      padding: 12px;
      background-color: $primary;
      border-radius: 25px;
      color: white;
    }

    &__icon {
      color: darken($color: $background, $amount: 30);
      padding-right: $paddingx2;
    }
  }
}
