@use "../utils/" as *;

//-----header container styling for logo and arrow------
.container-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: $paddingx2;

  //-----Back arrow on restaurant pages------
  &__icon {
    font-size: $arrow-size;
    display: flex;
    align-self: center;
  }

  //-----logo styling on all pages------
  &__img {
    width: $logo-img-size;
    grid-column: 2/3;
    justify-self: center;
  }
}

//-----restaurant image styling on restaurant pages------
.container-header__img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;

  @media (min-width: 769px) {
    aspect-ratio: 16/9;
    object-position: 50% 65%;
  }

  @media (min-width: 1025px) {
    aspect-ratio: 21/9;
  }
}
//-----location styling on home page------
.container-location {
  @include container-flex-base();
  box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: darken($color: $background, $amount: 2);

  &__title {
    @include roboto-500();
    align-self: center;
    padding: 0px $paddingx2;
  }

  &__icon {
    align-self: center;
  }
}

//-----introduction styling on home page------
.container-intro {
  @include container-grid-base();
  background-color: $background;
  padding: $paddingx2;
  padding-bottom: $paddingx2 * 2;

  &__title {
    font-size: calc($heading-font-size / 1.25);
  }

  &__text {
    font-weight: 300;
    padding: 0 $padding * 1.7 $paddingx2 $padding * 1.7;
    text-align: center;
  }

  //-----explore our restaurant button styling on home page------
  &__button {
    @include button-base();
    @include button-gradient-purple();
    z-index: 1;
    position: relative;

    //-----explore our restaurant button after will be visible on hover on home page------
    &:hover {
      &::after {
        opacity: 1;
      }
    }

    //-----explore our restaurant button after styling on home page------
    &::after {
      @include button-base();
      @include button-gradient-purple();
      @include button-gradient-purple-hover-effect();
    }
  }
}

//-----How it works styling on home page------
.container-steps {
  padding: 0 $paddingx2 $paddingx2 * 2 $paddingx2;

  &__title {
    padding: $padding 0;

    @media (min-width: 481px) {
      text-align: center;
    }
  }

  .container-buttons {
    display: grid;
    gap: $gapx2 * 1.2;
    padding-left: $padding;

    @media (min-width: 481px) {
      justify-items: center;
    }
    @media (min-width: 1025px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  //-----How it works button styling on home page------
  &__button {
    @include button-base();
    cursor: default;
    width: 20rem;
    padding: $paddingx2;
    display: flex;
    align-items: center;
    font-weight: 700;
    @include top-layer();

    //-----How it works button after will be visible on hover on home page------
    &:hover {
      &::after {
        opacity: 1;
      }
    }

    //-----How it works button after styling on home page------
    &::after {
      @include button-base();
      cursor: default;
      @include button-hover-effect();
      background-color: lighten($color: $primary, $amount: 30);
    }

    &__number {
      @include container-flex-base();
      flex-wrap: wrap;
      align-content: center;
      position: relative;
      right: 30px;
      height: 2px;
      width: 2px;
      padding: 12px;
      background-color: $primary;
      border-radius: 25px;
      color: white;
    }

    //-----How it works icons on button and after styling on home page------
    &__icon {
      color: darken($color: $background, $amount: 30);
      padding-right: $paddingx2;
    }

    &__icon--mobile {
      @include top-layer();

      &::after {
        @include icon-hover-effect();
        content: "\f3cd";
      }
    }

    &__icon--list {
      @include top-layer();

      &::after {
        @include icon-hover-effect();
        content: "\f03a";
      }
    }

    &__icon--store {
      @include top-layer();
      &::after {
        @include icon-hover-effect();
        content: "\f54e";
      }
    }

    //-----When hovering on the how it works buttons the icons will change too------
    &:hover &__icon {
      &::after {
        opacity: 1;
      }
    }
  }
}
